
@charset "UTF-8";

#wrap{

>header{
    width: 88.5%;
    margin: 0 auto;
    >.container{
    //서브메뉴 배경판
    >.bg_lnb{
        text-indent: -9999px;
position: relative;
        background-image: url(../images/bmw-7-series-sedan-sp-desktop.jpg.asset.1649929137338.jpg);
        height: 750px;
        background-size: cover;
        background-position: center center;
        border-bottom: white 5px solid;
    }
    >h1{
        position: absolute;
        top:120px;
        left: 190px;
        font-size: 50px;
        font-family: '고딕';
        font-weight: lighter;
        color: white;
        
    }
    >p{
        position: absolute;
        top: 210px;
        left: 190px;
        font-size: 24px;
        color: white;
    }
    >button{
        position: absolute;
        top: 260px;
        left: 190px;
        width: 280px;
        background-color: #1c69d4;
        color: white;
        height: 50px;
        font-size: 16px;
        border: #1c69d4 1px solid;
        &:hover{
            background-color: #0553b6;
        }
    }
    nav{

        >.gnb{
                position: absolute;
                top: 0px;
                left: 370px;
                display: flex;
                flex-flow: row nowrap;
                width: 1100px;height: 100px;
                border-bottom: 1px solid #ccc;
            >li{
                width: 90px;
                text-align: center;
                
                &:hover{
                    border-bottom: 5px solid #1c69d4;
                }
                >a{
                    font-size: 18px;
                    font-weight: 600;
                    font-family: '고딕';
                  
                    line-height: 100px;
                    color: white;
                    
                    height: 100px;
                }
                >.lnb{
                    display: none;
                    margin-top: 20px;
                    width: 150px;
                    height: 600px;
                    background-color: white;
                  
                    >li{
                       
                      >a{
                        display: block;
                        height: 35px;
                        line-height: 35px;
                        text-indent: 10px;
                        color: black;
                        &:hover{
                          color: black;
                            border-bottom: 2px solid #1c69d4;
                        }
                      }//end of a
                    }//end of li
                  }//end of .lnb
            }
            >li:nth-child(1){
               
                position: absolute;
                left: 0px;
                top: -5px;
            }
            >li:nth-child(2){
                width: 150px;
                position: absolute;
                left: 90px;
                top: -5px;
            }
            >li:nth-child(3){
                width: 180px;
                position: absolute;
                left: 225px;
                top: -5px;
            }
            >li:nth-child(4){
             
                position: absolute;
                left: 405px;
                top: -5px;
            }
            >li:nth-child(5){
             
                position: absolute;
                left: 500px;
                top: -5px;
            }
            >li:nth-child(6){
                position: absolute;
               right: 250px;
               top: -5px;
            }
            >li:nth-child(7){
                position: absolute;
               right: 170px;
               top: -5px;
            }
            >li:nth-child(8){
                position: absolute;
                right: 80px;
                top: -5px;
            
            }
            >li:nth-child(9){
                position: absolute;
                right: 00px;
                top: -5px;
            }
            
         
       
        }// end of .gnb
        >p{
            font-size: 16px;
            position: absolute;
            top: 110px;
            right: 450px;
            color: white;
            font-family: '고딕';
            font-weight: 400;
        }
    }// end of nav
}// end of container
.X7{
    position: relative;
    width: 50%;
    height: 400px;
    background-image: url(../images/bmw-x-series-x7-sp-desktop.jpg.asset.1645602668136.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
    >h2{
        color: white;
        font-size: 36px;
        font-family: '고딕';
        font-weight: 200;
        position: absolute;
        top: 50px;
        left: 30px;
    }
    p{
        position:absolute;
        top: 120px;
        left: 30px;
        width: 300px;
        height: 40px;
        font-size: 16px;
        color: white;
        line-height: 40px;
        border: 3px solid white;
        text-align: center;
        font-weight: 400;
        font-family: '고딕';
        &:hover{
            border: 3px solid rgb(110, 110, 110);
            color: rgb(110, 110, 110);
        }
    }
}// end of X7
.COUPE{
    position: relative;
    top: -400px;
    left: calc( 50% - 5px);
    width: 50%;
    height: 400px;
    background-image: url(../images/bmw-the2coupe1_pc.jpg.asset.1646278447339.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-left: 5px solid white;
    margin-bottom: -400px;
    >h2{
        color: white;
        font-size: 36px;
        font-family: '고딕';
        font-weight: 200;
        position: absolute;
        top: 50px;
        left: 30px;
    }
    p{
        position:absolute;
        top: 120px;
        left: 
        
        
        
        
        30px;
        width: 300px;
        height: 40px;
        font-size: 16px;
        color: white;
        line-height: 40px;
        border: 3px solid white;
        text-align: center;
        font-weight: 400;
        font-family: '고딕';
        &:hover{
            border: 3px solid rgb(110, 110, 110);
            color: rgb(110, 110, 110);
        }
    }
}// end of COUPE

}// end of header
>section{
        >.action{
            position: relative;
            width: 100%;
            top: 30px;
            background-color: #f2f2f2;
            height: 150px;
            >h2{
                position: absolute;
                color: black;
                font-family: '고딕';
                font-weight: 100;
                top: 30px;
                font-size: 28px;
                left: 330px;

            }
            >ul{display: flex;
                flex-flow: row nowrap;
                position: absolute;
              
                left: 750px;
                >li{
                  border-left: 5px solid white;
                    width: 290px;
                    height: 150px;
                    background-color:#f2f2f2;
                    text-align: center;
                    
                    &:nth-child(1){
                        >a{
                            color: white;
                            background-color: #1c69d4;
                            border: none;
                        }
                        >p{
                            background-image: url(../images/car.png);
                            background-repeat: no-repeat;
                            width: 50px;
                            height: 30px;
                            position: absolute;
                            top: 15px;
                            left: 115px;
                        }
                    }
                    &:nth-child(2){

                        >p{

                            background-image: url(../images/recipe.png);
                            background-repeat: no-repeat;
                            width: 50px;
                            height: 50px;   
                            position: absolute;
                            top: 15px;
                            left: 415px;
                        }
                    }
                    &:nth-child(3){

                        >p{

                            background-image: url(../images/talk.png);
                            background-repeat: no-repeat;
                            width: 50px;
                            height: 50px;   
                            position: absolute;
                            top: 15px;
                            left: 710px;
                        }
                    }

                    &:nth-child(3){
                        border-right: 5px solid white;
                        
                    }
                    >p{
                        text-indent: -9999px;
                       
                    }
                 
                    >a{
                    position: absolute;
                    top: 70px;
                    margin-left: 35px;
                    display: block;
                    border: 1px solid black;
                    width: 230px;
                    height: 50px;
                    line-height: 50px;
                    font-size: 16px;
                    font-family: '고딕';
                    font-weight: 600;
                    
                    }
                }
            }
        }// end of action

        >.series{
            position: relative;
            top: 100px;
            margin: 0 auto;
            width: 1260px;
            height: 930px;
            // border: 3px solid black;
            margin-bottom: 100px;
            >.makecar{
                display: flex;
                flex-flow: row nowrap;
                >li{
                    width: 100px;
                    text-align: center;
                    height: 80px;
                    line-height: 80px;
                    font-size: 18px;
                    font-family: '고딕';
                    font-weight: 600;
                    &.on{
                        border-bottom: 5px solid #1c69d4;
                    }
                }
            }
            >.slides{
                width: 100%;
                height:850px;
                // border: 1px solid rgb(192, 4, 4);
                overflow: hidden;
                
                >.slides-container{
                    position: absolute;
                    left: 0;
                    top: 0;
                    >p{
                        // display: none;
                        position: absolute;
                        
                        top: 163px;
                        width: 1200px;
                        // border: 1px solid red;
                        text-indent: -99999px;
                        background-position: center center;
                        background-size: cover;
                        >a{display: block;
                            height: 600px;
                        }
                    }
                    >.slide-1{
                        background-image: url(../images/all.jpg);
                        width: 800px;
                        height:600px;
                        background-size: contain;
                        background-repeat: no-repeat;
                        position: absolute;
                        left: 200px;
                        top: 50px;
                      
                    >button{
                        width: 200px;
                        height: 60px;
                        background-color: #1c69d4;
                        color: white;
                        border: none;
                        position: absolute;
                        left: 300px;
                        top: 500px;
                        &:hover{
                            background-color: #0553b6;
                        }
                    }
                    }
                    >.slide-2{
                        background-image: url(../images/bmw-series/이미지\ 1.png);
                        width: 1200px;
                        height: 600px;
                        background-size: contain;
                        background-repeat: no-repeat;
                        margin-top: -100px;
                        
                    }
                    >.slide-3{
                        background-image: url(../images/bmw-series/series-2.png);
                        width: 1200px;
                        height: 600px;
                        background-size: contain;
                        background-repeat: no-repeat;
                        margin-top: 0px;
                      
                    }
                    >.slide-4{
                        background-image: url(../images/bmw-series/series-3.png);
                        width: 1200px;
                        height: 600px;
                        background-size: contain;
                        background-repeat: no-repeat;
                        position: absolute;
                        margin-top: 0px;
                     
                    }
                    >.slide-5{
                        background-image: url(../images/bmw-series/series-4.png);
                        width: 1200px;
                        height: 600px;
                        background-size: contain;
                        background-repeat: no-repeat;
                        margin-top: 0px;
                      
                      
                   
                        
                    }
                    >.slide-6{
                        background-image: url(../images/bmw-series/series-5.png);
                        width: 1200px;
                        height: 600px;
                        background-size: contain;
                        background-repeat: no-repeat;
                      
                        
                    }
                    >.slide-7{
                        background-image: url(../images/bmw-series/series-6.png);
                        width: 1200px;
                        height: 600px;
                        background-size: contain;
                        background-repeat: no-repeat;
                    
                    }
                    >.slide-8{
                        background-image: url(../images/bmw-series/series-7.png);
                        width: 1200px;
                        height: 600px;
                        background-size: contain;
                        background-repeat: no-repeat;
                        margin-top: -5px;
                       
                        
                    }
                    >.slide-9{
                        background-image: url(../images/bmw-series/series-8.png);
                        width: 1200px;
                        height: 600px;
                        background-size: contain;
                        background-repeat: no-repeat;
                        margin-top: 5px;
                    }
                    >.slide-10{
                        background-image: url(../images/bmw-series/series-X.png);
                        width: 1200px;
                        height: 750px;
                        background-size: cover;
                        background-repeat: no-repeat;
                        margin-top: 10px;
                
                        
                    }
                    >.slide-11{
                        background-image: url(../images/bmw-series/series-z.png);
                        width: 1200px;
                        height: 750px;
                        background-size: cover;
                        background-repeat: no-repeat;
                   
                        
                    }
                    >.slide-12{
                        background-image: url(../images/bmw-series/series-M.png);
                        width: 1200px;
                        height: 750px;
                        background-size: contain;
                        margin-top: 10px;
                  
                        
                    }
                    >.slide-13{
                        background-image: url(../images/bmw-series/series-I.png);
                        width: 1200px;
                        height: 750px;
                        background-size: cover;
                        background-repeat: no-repeat;
                        margin-top: 10px;
                        
                    }
                    >.slide-14{
                        background-image: url(../images/bmw-series/series-edrive.png);
                        width: 1200px;
                        height: 750px;
                        background-size: cover;
                        background-repeat: no-repeat;
                        margin-top: 10px;

                    }
                }// end of slides-container
                >.slides-pagination{
                    position: absolute;
                    display: flex;
                    flex-flow: row nowrap;
                    border-top: 2px solid #eee;
                    border-bottom: 2px solid #eee;
                    width: 100%;
                    >li{
                        width: 60px;
                        height: 80px;
                        text-align: center;
                        font-style: '고딕';
                        font-weight: 600;
                        &:last-child{
                            width: 100px;
                                // border: 1px solid red;
                                padding-left: 30px;
                        }
                            &:hover{
                        border-bottom:5px solid #1c69d4;
                    }
                        >a{
                            line-height: 80px;
                            font-size: 18px;
                            width: 60px;
                            height: 80px;
                            display: block;
                           
                        }
                        &.on{
                            border-bottom:5px solid #1c69d4;
                                &:hover{
                                    border-bottom:5px solid #1c69d4;
                                }
                            
                        }
                    }
                }
            } //end of slides
         
        }// end of series
        >.suggest{
            position: relative;
            width: 1300px;
            margin: 0 auto;
            margin-bottom: 70px;
            // border: 1px solid black;
            >h2{
                font-size: 40px;
                font-style: '고딕';
                margin-bottom: 30px;
            }
            >ul{
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                >li{
                    
                    
                    >ol{
                        width: 100%;
                       
                        >button{
                            margin-top: 30px;
                            margin-bottom: 30px;
                            border: 1px solid black;
                            background-color: white;
                            height: 50px;
                            width: 330px;
                            margin-left: 25px;
                            &:hover{
                                border: 3px solid black;
                            }
                           
                        }
                        >p{
                            font-size: 16px;
                        }
                        >.IX{
                            text-indent: -9999px;
                            width: 380px;
                            height: 300px;
                            display: block;
                            
                                background-image: url(../images/IX.png);            
                        }
                        >.IX3{
                            text-indent: -9999px;
                            width: 380px;
                            height: 300px;
                            display: block;
                            
                                background-image: url(../images/IX3.png);            
                        }
                        >.I4{
                            text-indent: -9999px;
                            width: 380px;
                            height: 300px;
                            display: block;
                            
                                background-image: url(../images/I4.png);            
                        }
                        >li{
                            
                            height: 22px;
                            >a{
                        
                                font-size: 18px;
                                line-height: 25px;
                                >span{
                                    display: inline-block;
                                  width: 26px;
                                  height: 16px;
                                  background-repeat: no-repeat;
                                  background-size: cover;
                                    background-image: url(../images/check.png);
                                  
                                }
                            }
                        }
                    } //end of ol
                    
                }// end of li
            }
        }// end of suggest
        >.shortcut{
            
            width: 1300px;
            margin: 0 auto;
            >ul{
                justify-content: space-between;
                height: 480px;
                display: flex;
                flex-flow: row nowrap;
                margin-bottom: 60px;
                >li{
                    width: 610px;
                    border: 1px solid #eee;
                    >.magazine{
                        >.a{
                            border: none;
                            display: block;
                            text-indent: -9999px;
                            margin-top: 30px;
                            margin-left: 30px;
                            width: 550px;
                            height: 300px;
                          
                            background-position: center center;
                            background-size: cover;
                            background-image: url(../images/BMWi_ultimateMagazine_890X501.jpg);
                        }
                        >li{
                            margin-top: 20px;
                            font-size: 18px;
                            font-weight: 400;
                            line-height: 20px;
                            margin-left: 30px;
                        >a{
                        >span{
                            display: inline-block;
                            background-image: url(../images/direction.png);
                         
                            width: 16px;
                            height: 16px;
                            background-repeat: no-repeat;
                            background-size: cover;

                        }// end of span
                    }
                        }
                    }// end of magazine
                    >.program{
                        >.b{
                            border: none;
                            display: block;
                            text-indent: -9999px;
                            margin-top: 30px;
                            margin-left: 30px;
                            width: 550px;
                            height: 300px;
                            background-position: center center;
                            background-size: cover;
                            background-image: url(../images/the\ new\ 5_middle.jpg);
                        }
                        >li{
                            margin-top: 20px;
                            font-size: 18px;
                            font-weight: 400;
                            line-height: 20px;
                            margin-left: 30px;
                            
                        >a{
                        >span{
                            display: inline-block;
                            background-image: url(../images/direction.png);
                         
                            width: 16px;
                            height: 16px;
                            background-repeat: no-repeat;
                            background-size: cover;

                        }// end of span
                    }
                        }
                    }// end of magazine
                }
            }
        }// end of short cut
        >.marketing{
            
            width: 1300px;
            margin: 0 auto;
            >ul{
                justify-content: space-between;
                height: 480px;
                display: flex;
                flex-flow: row nowrap;
                margin-bottom: 70px;
                >li{
                    width: 610px;
                    border: 1px solid #eee;
                    >.apps{
                        >.a{
                            display: block;
                            text-indent: -9999px;
                            margin-top: 30px;
                            margin-left: 30px;
                            width: 550px;
                            height: 300px;
                          
                            background-position: center center;
                            background-size: cover;
                            background-image: url(../images/mybmwapp_teaser.jpg);
                            border: none;
                        }
                        >li{
                            margin-top: 20px;
                            font-size: 18px;
                            font-weight: 400;
                            line-height: 20px;
                            margin-left: 30px;
                        >a{
                        >span{
                            display: inline-block;
                            background-image: url(../images/direction.png);
                         
                            width: 16px;
                            height: 16px;
                            background-repeat: no-repeat;
                            background-size: cover;

                        }// end of span
                    }
                        }
                    }// end of apps
                    >.sns{
                        >.b{
                            border: none;
                            display: block;
                            text-indent: -9999px;
                            margin-top: 30px;
                            margin-left: 30px;
                            width: 550px;
                            height: 300px;
                          
                            background-position: center center;
                            background-size: cover;
                            background-image: url(../images/social_media_0819.png);
                        }
                        >li{
                            margin-top: 20px;
                            font-size: 18px;
                            font-weight: 400;
                            line-height: 20px;
                            margin-left: 30px;
                        >a{
                        >span{
                            display: inline-block;
                            background-image: url(../images/direction.png);
                         
                            width: 16px;
                            height: 16px;
                            background-repeat: no-repeat;
                            background-size: cover;

                        }// end of span
                    }
                        }
                    }// end of sns
                }
            }
        }// end of marketing
        >.news{
           
                width: 1300px;
            margin: 0 auto;
            >ul{
                justify-content: space-between;
                height: 400px;
                display: flex;
                flex-flow: row nowrap;
                margin-bottom: 60px;
              >li{
                border: 2px solid #eee;
                width: 23%;
                >.drive{
                    
                    >.cover-image1{
                        border: none;
                        display: block;
                        text-indent: -9999px;
                        margin-top: 10px;
                        margin-left: 10px;
                        width: 270px;
                        height: 160px;
                      
                        background-position: center center;
                        background-size: cover;
                        background-image: url(../images/c6cd7f34dg570075294d.jpg);
                        margin-bottom: 20px;
                    }
                    >li{
                        font-size: 18px;
                        font-family: '고딕';
                        font-weight: 500;
                        margin:10px;
                        line-height: 30px;
                        >a{
                            >span{
                                display: inline-block;
                                background-image: url(../images/direction.png);
                                
                                width: 16px;
                                height: 16px;
                                background-repeat: no-repeat;
                                background-size: cover;
    
                            }// end of span
                        }
                    }
                }// end of drive
                >.plusapp{
                    
                    >.cover-image2{
                        border: none;
                        display: block;
                        text-indent: -9999px;
                        margin-top: 10px;
                        margin-left: 10px;
                        width: 270px;
                        height: 160px;
                      
                        background-position: center center;
                        background-size: cover;
                        background-image: url(../images/MKT_BMWplus_585X329.jpg);
                        margin-bottom: 20px;
                    }
                    >li{
                        font-size: 18px;
                        font-family: '고딕';
                        font-weight: 500;
                        margin:10px;
                        line-height: 30px;
                        >a{
                            >span{
                                display: inline-block;
                                background-image: url(../images/direction.png);
                                
                                width: 16px;
                                height: 16px;
                                background-repeat: no-repeat;
                                background-size: cover;
    
                            }// end of span
                        }
                    }
                }// end of plussapp
                >.vantage{
                    
                    >.cover-image3{
                        border: none;
                        display: block;
                        text-indent: -9999px;
                        margin-top: 10px;
                        margin-left: 10px;
                        width: 270px;
                        height: 160px;
                      
                        background-position: center center;
                        background-size: cover;
                        background-image: url(../images/APP_vantage_585X329.jpg);
                        margin-bottom: 20px;
                    }
                    >li{
                        font-size: 16px;
                        font-family: '고딕';
                        font-weight: 500;
                        margin:10px;
                        line-height: 30px;
                        >a{
                            >span{
                                display: inline-block;
                                background-image: url(../images/direction.png);
                                
                                width: 16px;
                                height: 16px;
                                background-repeat: no-repeat;
                                background-size: cover;
    
                            }// end of span
                        }
                    }
                }// end of vantage
                >.part{
                    
                    >.cover-image4{
                        border: none;
                        display: block;
                        text-indent: -9999px;
                        margin-top: 10px;
                        margin-left: 10px;
                        width: 270px;
                        height: 160px;
                      
                        background-position: center center;
                        background-size: cover;
                        background-image: url(../images/eg4560d3c18c5g49gb1d.jpg);
                        margin-bottom: 20px;
                    }
                    >li{
                        font-size: 18px;
                        font-family: '고딕';
                        font-weight: 500;
                        margin:10px;
                        line-height: 30px;
                        >a{
                            >span{
                                display: inline-block;
                                background-image: url(../images/direction.png);
                                
                                width: 16px;
                                height: 16px;
                                background-repeat: no-repeat;
                                background-size: cover;
    
                            }// end of span
                        }
                    }
                }// end of part
              }
        }
    }//end of news


    >.information{
           
        width: 1300px;
    margin: 0 auto;
    >ul{
        justify-content: space-between;
        height: 400px;
        display: flex;
        flex-flow: row nowrap;
        margin-bottom: 60px;
      >li{
        border: 2px solid #eee;
        width: 23%;
        >.letter{
            
            >.cover-image1{
                border: none;
                display: block;
                text-indent: -9999px;
                margin-top: 10px;
                margin-left: 10px;
                width: 270px;
                height: 160px;
              
                background-position: center center;
                background-size: cover;
                background-image: url(../images/MKT_BMW-M_585X329.jpg);
                margin-bottom: 20px;
            }
            >li{
                font-size: 18px;
                font-family: '고딕';
                font-weight: 500;
                margin:10px;
                line-height: 30px;
                >a{
                    >span{
                        display: inline-block;
                        background-image: url(../images/direction.png);
                        
                        width: 16px;
                        height: 16px;
                        background-repeat: no-repeat;
                        background-size: cover;

                    }// end of span
                }
            }
        }// end of letter
        >.future{
            
            >.cover-image2{
                border: none;
                display: block;
                text-indent: -9999px;
                margin-top: 10px;
                margin-left: 10px;
                width: 270px;
                height: 160px;
              
                background-position: center center;
                background-size: cover;
                background-image: url(../images/MKT_BMW-i_585X329.jpg);
                margin-bottom: 20px;
            }
            >li{
                font-size: 18px;
                font-family: '고딕';
                font-weight: 500;
                margin:10px;
                line-height: 30px;
                >a{
                    >span{
                        display: inline-block;
                        background-image: url(../images/direction.png);
                        
                        width: 16px;
                        height: 16px;
                        background-repeat: no-repeat;
                        background-size: cover;

                    }// end of span
                }
            }
        }// end of future
        >.luxury{
            
            >.cover-image3{
                border: none;
                display: block;
                text-indent: -9999px;
                margin-top: 10px;
                margin-left: 10px;
                width: 270px;
                height: 160px;
              
                background-position: center center;
                background-size: cover;
                background-image: url(../images/e602ef714737985812e1.jpg);
                margin-bottom: 20px;
            }
            >li{
                font-size: 16px;
                font-family: '고딕';
                font-weight: 500;
                margin:10px;
                line-height: 30px;
                >a{
                    >span{
                        display: inline-block;
                        background-image: url(../images/direction.png);
                        
                        width: 16px;
                        height: 16px;
                        background-repeat: no-repeat;
                        background-size: cover;

                    }// end of span
                }
            }
        }// end of luxury
        >.recall{
            
            >.cover-image4{
                border: none;
                display: block;
                text-indent: -9999px;
                margin-top: 10px;
                margin-left: 10px;
                width: 270px;
                height: 160px;
              
                background-position: center center;
                background-size: cover;
                background-image: url(../images/bmwkr_steaser_recall.jpg);
                margin-bottom: 20px;
            }
            >li{
                font-size: 18px;
                font-family: '고딕';
                font-weight: 500;
                margin:10px;
                line-height: 28.5px;
                >a{
                    >span{
                        display: inline-block;
                        background-image: url(../images/direction.png);
                        
                        width: 16px;
                        height: 16px;
                        background-repeat: no-repeat;
                        background-size: cover;

                    }// end of span
                }
            }
        }// end of recall
      }
}
}//end of information

>.customer{
           
    width: 1300px;
margin: 0 auto;

>ul{
    justify-content: space-between;
    height: 400px;
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 60px;
  >li{
    border: 2px solid #eee;
    width: 23%;
    >.services{
        
        >.cover-image1{
            border: none;
            display: block;
            text-indent: -9999px;
            margin-top: 10px;
            margin-left: 10px;
            width: 270px;
            height: 160px;
          
            background-position: center center;
            background-size: cover;
            background-image: url(../images/d930eg00fgbdae156cc2.jpg);
            margin-bottom: 20px;
        }
        >li{
            font-size: 17px;
            font-family: '고딕';
            font-weight: 500;
            margin:10px;
            line-height: 30px;
            >a{
                >span{
                    display: inline-block;
                    background-image: url(../images/direction.png);
                    
                    width: 16px;
                    height: 16px;
                    background-repeat: no-repeat;
                    background-size: cover;

                }// end of span
            }
        }
    }// end of customer
    >.estimate{
        
        >.cover-image2{
            border: none;
            display: block;
            text-indent: -9999px;
            margin-top: 10px;
            margin-left: 10px;
            width: 270px;
            height: 160px;
          
            background-position: center center;
            background-size: cover;
            background-image: url(../images/da5f276cf45c7075a62b.jpg);
            margin-bottom: 20px;
        }
        >li{
            font-size: 18px;
            font-family: '고딕';
            font-weight: 500;
            margin:10px;
            line-height: 30px;
            >a{
                >span{
                    display: inline-block;
                    background-image: url(../images/direction.png);
                    
                    width: 16px;
                    height: 16px;
                    background-repeat: no-repeat;
                    background-size: cover;

                }// end of span
            }
        }
    }// end of estimate
    >.corporation{
        
        >.cover-image3{
            border: none;
            display: block;
            text-indent: -9999px;
            margin-top: 10px;
            margin-left: 10px;
            width: 270px;
            height: 160px;
          
            background-position: center center;
            background-size: cover;
            background-image: url(../images/f0e3g39276210gd1dfc4.jpg);
            margin-bottom: 20px;
        }
        >li{
            font-size: 18px;
            font-family: '고딕';
            font-weight: 500;
            margin:10px;
            line-height: 30px;
            >a{
                >span{
                    display: inline-block;
                    background-image: url(../images/direction.png);
                    
                    width: 16px;
                    height: 16px;
                    background-repeat: no-repeat;
                    background-size: cover;

                }// end of span
            }
        }
    }// end of corporation
    >.lemon{
        
        >.cover-image4{
            border: none;
            display: block;
            text-indent: -9999px;
            margin-top: 10px;
            margin-left: 10px;
            width: 270px;
            height: 160px;
          
            background-position: center center;
            background-size: cover;
            background-image: url(../images/b6cb64379e405595c731.png);
            margin-bottom: 20px;
        }
        >li{
            font-size: 18px;
            font-family: '고딕';
            font-weight: 500;
            margin:10px;
            line-height :30px;
            >a{
                >span{
                    display: inline-block;
                    background-image: url(../images/direction.png);
                    
                    width: 16px;
                    height: 16px;
                    background-repeat: no-repeat;
                    background-size: cover;

                }// end of span
            }
        }
    }// end of lemon
  }
}
}//end of customer

>.menuselect{
    >ul{
        width: 1300px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin: 0 auto;
        margin-bottom: 40px;
        >li{
            width: 240px;
            height: 130px;
            background-color: #f2f2f2;
            text-align: center;
            &:hover{
                background-color: #e6e6e6;
            }
            >a{
                
                
                
                font-size: 16px;
                font-style: '고딕';
                >.handle{
                    display: block;
                    width: 40px;
                    height: 40px;
                    background-image: url(../images/handle.png);
                    margin-top: 30px;
                    margin-left: 100px;
                    text-indent: -9999px;
                }
                >.catalog{
                    display: block;
                    width: 40px;
                    height: 40px;
                    background-image: url(../images/catalog.png);
                    margin-top: 30px;
                    margin-left: 100px;
                    text-indent: -9999px;
                }
                >.make{
                    display: block;
                    width: 40px;
                    height: 40px;
                    background-image: url(../images/makecar.png);
                    margin-top: 30px;
                    margin-left: 100px;
                    text-indent: -9999px;
                }
                >.find{
                    display: block;
                    width: 40px;
                    height: 40px;
                    background-image: url(../images/findcar.png);
                    margin-top: 30px;
                    margin-left: 100px;
                    text-indent: -9999px;
                }
                >.tag{
                    display: block;
                    width: 40px;
                    height: 40px;
                    background-image: url(../images/pricetag.png);
                    margin-top: 30px;
                    margin-left: 100px;
                    text-indent: -9999px;
                }
            }
        }
    }
}
}// end of section

>footer{
    width: 100%;
    background-color: #e6e6e6;
   
    >.announcement{
        
        padding-top: 120px;
        margin: 0 auto;
        width: 1300px;
        >ul{
            
            height: 400px;
            border-top: 2px solid #bbbbbb;
            justify-content: space-between;
            display: flex;
            flex-flow: row nowrap;
          >li{
              
            >h2{
                margin-top: 80px;
                font-weight: 800;
                font-style: '고딕';
                font-size: 26px;
                margin-bottom: 50px;
            }
            >ol{
                >li{
                    >a{
                        font-size: 14px;
                    font-weight: 600;
                    color: #666666;
                    line-height: 24px;
                    &:hover{
                        color: black;
                    }
                    }
                }
            }
          }
        }
    }

    >address{
        width: 100%;
        height: 60px;
        background-color: white;
    }
}// end of footer
}// end of wrap